* {
    box-sizing: border-box;
    font-family: cursive;
    font-size: 16px;
}
body {
    background-image: url(image/register\ back.png);
    background-size: cover;
    margin: 0;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 200px auto;
}
.login h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100px;
    height: 35px;
    background-color: #4b1306;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"]{
    width: 250px;
    height: 35px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #4b1306;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
    background-color: #8b2710;
    transition: background-color 0.2s;
}